{% extends "FormBundle::layout.html.twig" %}

{% block content %}
    <!-- HEADER -->
    <div class="Header">
        <div class="Header_background">
            <video class="Header_background_video" src="" autoplay muted loop></video>
        </div>
            <div class="Header_title">
                <div>Mission</div><div class="Logo_planetplus"></div>
            </div>
            <div class="Header_subtitle">
                <p>DEVENEZ NOTRE <span>WEB REPORTER !</span></p>
                <p>Votre voyage, vos rencontres, <span>votre regarde ...</span></p>
            </div>
            <div class="Header_informations">
                <p>Participez du</p>
                <div class="Header_informations_date">06 octobre au</div>
                <div class="Header_informations_date">06 novembre <span>2018</span></div>
            </div>
    </div>

    <div class="content_wrapper">  
    <!-- INTRO -->
    <div class="Intro">
        <div class="Intro_wrapper">
            <div class="Intro_case-big Intro_case0">
                <div class="Intro_slider">
                    <div class="background">
                        <div class="background-element background-element_0"></div>
                        <div class="background-element background-element_1"></div>
                        <div class="background-element background-element_2"></div>
                        <div class="background-element background-element_3"></div>
                    </div>
                    <div class="foreground">
                        <div class="foreground-element foreground-element_0"></div>
                        <div class="foreground-element foreground-element_1"></div>
                        <div class="foreground-element foreground-element_2"></div>
                        <div class="foreground-element foreground-element_3"></div>
                    </div>
                    <div class="title">
                        <div class="bar"></div>
                        <div class="txt">
                            histoire
                        </div>
                    </div>
                </div>
            </div>
            <div class="Intro_case-small Intro_case1">
                <div class="Intro_title">
                    <span>Planète+</span>
                    <span>recrute son</span>
                    <span>web reporter</span>
                </div>
                <div class="Intro_subtitle">
                    <span>et vous fait remporter</span>
                    <span class="red">30 000 euros pour explorer </span>
                    <span class="red">le monde à votre façon !</span>
                </div>
                <div class="Intro_share">
                    <div class="Intro_share_title">Partager :</div>
                    <div class="Intro_share_links">
                        <a target="_blanks" href="https://twitter.com/intent/tweet?text=Devenez%20le%20web%20reporter%20de%20Plan%C3%A8te%2B%20et%20remportez%2030%20000%20%E2%82%AC%20pour%20faire%20le%20reportage%20documentaire%20de%20vos%20r%C3%AAves%20!%20http%3A//planeteplus30ans.mycanal.fr%20" class="tw"></a>
                        <a target="_blanks" href="https://www.facebook.com/sharer/sharer.php?u=planeteplus30ans.mycanal.fr" class="fb"></a>
                    </div>
                </div>
            </div>
            <div class="Intro_case-small Intro_case2">
                <div class="Logo_planetplus Logo_planetplus-red"></div>
                <p class="Intro_content">
                    <span class="bolder">A l'occasion des 30 ans de planète+,</span>
                    nous lançons un appel à projet pour recruter <span class="bolder">notre nouvelle voix sur les réseaux sociaux de Planète+</span>,
                     cette voix devra incarner les valeurs de la chaîne Planète+ à savoir la bienveillance, la citoyenneté et l’évasion, tout en s’appuyant sur l’un ou plusieurs des piliers de la chaîne que sont <span class="highlight">La société</span>, <span class="highlight">l’histoire</span>, <span class="highlight">la science</span> et <span class="highlight">l’évasion</span>.
                </p>
                <div class="button Intro_button goToForm"><div class="button_txt">Je participe !</div></div>
            </div>

        </div>
    </div>

    <!-- PROJECT - Part 2-->
    <div class="Project">
        <div class="Project_background">
        </div>
        <div class="Project_wrapper">
            <div class="Project_content">
                <div class="left">
                    <div class="Project_background-left"></div>
                    <div class="Project_title">
                        <span class="red">Proposez-nous</span>
                        <span class="red">le projet de</span>
                        <span>voyage de</span>
                        <span>vos rêves !</span>
                    </div>
                    <div class="button Project_button goToForm"><div class="button_txt">Je participe !</div></div>
                </div>
                <div class="right">
                    <p class="Project_highlight">Votre projet devra s’articuler autour d’une <span class="red">thématique</span><br> <span class="red">spécifique</span> ou d’un <span class="red">angle de réalisation précis</span>.</p>
                    <p class="Project_txt">
                        Le candidat qui sera sélectionné disposera de <span class="red">30 000 euros</span> pour organiser l’ensemble de son projet de voyage documentaire, et en retour il produira régulièrement des contenus, dont des contenus vidéos, pour Planète+ et ses réseaux sociaux.
                    </p><p class="Project_txt">
                        Sur l’ensemble des dossiers reçus, <span class="red">30 seront présélectionnés par les équipes de Planète+</span>.
                        Parmi cette présélection, 10 candidats seront contactés pour rencontrer sur Paris, dans les locaux de Canal+, notre jury de professionnel dont feront partie <span class="red">Christine Cauquelin</span>, la directrice des documentaires de Planète + et des Documentaires de Canal+, les incarnations de Planète+ dont <span class="red">Benjamin Carles</span> (Made in France, Sandwich) <span class="red">Marine et Louis</span> (nom programme) et <span class="red">Jérôme Delafosse</span> (Energy Observer, Les Nouveaux Explorateurs).
                    </p>
                </div>
            </div>
            <div class="Project_video">
                <iframe w src="https://www.youtube.com/embed/?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- PRIZE -->

    <div class="Prize">
        <div class="Prize_wrapper">
            <div class="Prize_left"></div>
            <div class="Prize_right">
                <div class="Prize_title">
                    <span>Le Prix du</span>
                    <span>public :</span>
                    <span class="red">un Fujifilm !</span>
                </div>
                <div class="Prize_txt">
                        En parallèle votre candidature vous inscrira également au
                        <span class="red">vote du public.</span> Planète+ publiera une sélection de photos des candidats sur son compte Instagram et celle qui aura recueilli le plus de likes permettra à son propriétaire de <span class="red">remporter un appareil Fujifilm d’une valeur de ...</span> et remportera ainsi le deuxième prix de ce concours.
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile -->
    <div class="NotAvailable">
        <div class="txt">
            Pour tenter de réaliser
            le projet documentaire de vos rêves et remporter<br>
        <span class="red">30 000 euros</span>,<br>rendez-vous sur la version desktop du site !
        </div>
        <div class="img"></div>
    </div>
    <!-- Form -->

    <div class="Form">
        <div class="Form_header">
            Pour tenter de réaliser le projet documentaire de vos rêves et remporter <span class="red">30 000 euros</span>, remplissez le formulaire détaillé ci-dessous.
        </div>
        <div class="Form_timeline">
            <div class="Form_pagination Form_pagination-activ">01</div>
            <div class="Form_pagination">02</div>
            <div class="Form_pagination">03</div>
            <div class="Form_pagination">04</div>
        </div>
        <form class="Form_steps Form_steps-step0" method="POST">
            <!-- STEP 1 -->
            <div class="Form_step Form_step-activ">
            {{ form_start(formulaire) }}
                <!-- Thème du voyage -->
                <div class="Form_case Form_case-100">
                    <label for="theme" class="Form_label">Quel sera le thème de votre voyage ?<sup>*</sup></label>
                    <!-- <input type="text" name="theme" class="Form_input InputData" data-type="length" required/> -->
                    {{ form_widget(formulaire.Voyage_theme, {'attr': {'class':'Form_input InputData',
                        'data-type':'length', 'name':'theme', 'type':'text'
                    }}) }}
                    {{ form_errors(formulaire.Voyage_theme) }}

                </div>

                <!-- Racontez-nous -->
                <div class="Form_case Form_case-100">
                    <label for="idea" class="Form_label">Racontez-nous en quelques lignes l’idée de votre projet.<sup>*</sup></label>
                    <textarea maxlength=500 type="text" name="idea" class="Form_textarea InputData" data-type="length" required></textarea>
                    
                </div>

                <!-- Destinations -->
                <div class="Form_case Form_case-100">
                    <label class="Form_label">Quels seront la ou les destinations envisagées ?<sup>*</sup></label>
                    <div class="Form_line Form_line_select">
                        <select class="Form_select">
                                <option value="" selected>Pays</option>
                                <option value="France">France</option>
                        </select>
                        <input type="text" class="Form_input Form_input-s Form_inputSelect" placeholder="Ville ou lieu précis."/>
                        <div class="Form_add Form_add_select">+</div>
                    </div>
                    <div class="Form_line InputData Form_destination" data-type="selected">
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                        <div class="Form_selected">
                            <div class="Form_selected_text Form_place"></div>
                            <div class="Form_selected_remover">-</div>
                        </div>
                    </div>
                </div>

                <!-- Transports -->
                <div class="Form_case Form_case-100">
                    <label for="transports" class="Form_label">Quel(s) sera ou seront le(s) mode(s) de transport envisagés ?<sup>*</sup></label>
                    <textarea type="text" maxlength=500 name="transports" class="Form_textarea InputData"  data-type="length" required></textarea>
                </div>
            </div>

            <!-- STEP 2 -->
            <div class="Form_step">
                <!-- Budget -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label">Détaillez-nous la répartition de votre budget sur les 30 000 euros remportés <span class="lighter">(transport, hébergement, repas, assurances, matériel technique éventuel, divers et imprévus, etc.)</span><sup>*</sup></label>
                        <div class="Form_line Form_line-step2_0">
                            <input type="text" class="Form_input Form_input-xs Form_input-fake" placeholder="Choisir un fichier">
                            <div class="Form_add Form_add-white">+</div>
                            <div class="Form_spec">(Fichier excel attendu.)</div>
                            <input type="file" name="budget" class="Form_inputfile InputData" data-filecontainer="step2_0" accept=".xls, .xlsx" data-type="file"/>
                        </div>
                        <div class="Form_line">
                            <div class="Form_selected step2_0">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-line="step2_0">-</div>
                            </div>
                        </div>
                </div>
            </div>

            <!-- STEP 3 -->
            <div class="Form_step">
                <!-- Motivation -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label" for="motivation">Racontez-nous l’ensemble des motivations qui vous poussent à présenter votre projet à Planète+<sup>*</sup></label>
                        <div class="Form_line Form_line-step3_0">
                            <input type="text" class="Form_input Form_input-xs Form_input-fake" placeholder="Choisir un fichier">
                            <div class="Form_add Form_add-white">+</div>
                            <div class="Form_spec">(Fichier Word 3000 signes max attendu.)</div>
                            <input type="file" name="motivations" class="Form_inputfile InputData" data-filecontainer="step3_0" data-type="file" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"/>
                        </div>
                        <div class="Form_line">
                            <div class="Form_selected step3_0">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-line="step3_0">-</div>
                            </div>
                        </div>
                </div>
                <!-- Portfolio  -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label" for="motivation">Envoyez-nous votre portfolio<br><span class="lighter">(10 éléments maximum)</span></label>
                        <div class="Form_line Form_line">
                            <input type="text" class="Form_input Form_input-xs Form_input-fake" placeholder="Choisir un fichier">
                            <div class="Form_add Form_add-white">+</div>
                            <div class="Form_spec">(jpg, png)</div>
                            <input type="file" name="portfolio" multiple class="Form_inputfile InputData multiplefile" data-filecontainer="step3_1" data-type="file" accept=".png, .jpg, .jpeg"/>
                        </div>
                        <div class="Form_line step3_1">
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                            <div class="Form_selected">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-multifile="true">-</div>
                            </div>
                        </div>
                </div>
                <!-- Video -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label" for="motivation">Envoyez-nous une vidéo que vous avez réalisé</label>
                        <div class="Form_line Form_line-step3_2">
                            <input type="text" class="Form_input Form_input-xs Form_input-fake" placeholder="Choisir un fichier">
                            <div class="Form_add Form_add-white">+</div>
                            <div class="Form_spec">(Fichier vidéo 20Mo max.)</div>
                            <input type="file" name="video" class="Form_inputfile InputData" data-filecontainer="step3_2" data-type="file" accept=".mp4"/>
                        </div>
                        <div class="Form_line">
                            <div class="Form_selected step3_2">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-line="step3_2">-</div>
                            </div>
                        </div>
                </div>
                <!-- CV -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label" for="motivation">Envoyez-nous votre expérience personnelle et professionnelle<sup>*</sup></label>
                        <div class="Form_line Form_line-step3_2">
                            <input type="text" class="Form_input Form_input-xs Form_input-fake" placeholder="Choisir un fichier">
                            <div class="Form_add Form_add-white">+</div>
                            <div class="Form_spec">(Fichier Word ou PDF)</div>
                            <input type="file" name="cv" class="Form_inputfile InputData" data-filecontainer="step3_3" data-type="file" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf"/>
                        </div>
                        <div class="Form_line">
                            <div class="Form_selected step3_3">
                                <div class="Form_selected_text"></div>
                                <div class="Form_selected_remover" data-line="step3_2">-</div>
                            </div>
                        </div>
                </div>
                <!-- Instagram -->
                <div class="Form_case Form_case-100">
                        <label class="Form_label" for="motivation">Envoyez-nous votre plus belle photo Instagram pour participer au prix du public<sup>*</sup></label>
                        <div class="Form_line">
                            <input type="text" class="Form_input Form_input-s InputData" data-type="length">
                            <div class="Form_spec">(Url de votre image Instagram)</div>
                        </div>
                </div>
            </div>

            <!-- STEP 4  -->
            <div class="Form_step">
                <div class="Form_line Form_line-between">
                    <!-- Nom -->
                    <div class="Form_case Form_case-50">
                        <label for="lastname" class="Form_label">Nom<sup>*</sup></label>
                        <!-- <input type="text" name="lastname" class="Form_input InputData" data-type="length"> -->
                        {{ form_widget(formulaire.Nom, {'attr': {'class':'Form_input InputData',
                        'data-type':'length', 'name':'lastname', 'type':'text'
                        }}) }}
                        {{ form_errors(formulaire.Nom) }}
                    </div>
                    <!-- Prenom -->
                    <div class="Form_case Form_case-50">
                        <label for="firstname" class="Form_label">Prénom<sup>*</sup></label>
                        <!-- <input type="text" name="firstname" class="Form_input InputData" data-type="length"> -->
                        {{ form_widget(formulaire.Prenom, {'attr': {'class':'Form_input InputData',
                        'data-type':'length', 'name':'firstname', 'type':'text'
                        }}) }}
                        {{ form_errors(formulaire.Prenom) }}
                    </div>
                </div>
                <!-- Date de naissance -->
                <div class="Form_case">
                    <label for="birthdate" class="Form_label">Date de naissance<sup>*</sup></label>
                    <input type="text" placeholder="01/01/1990" name="birthdate" class="Form_input Form_input-xs InputData" data-type="birthdate">
                    <!-- {{ form_widget(formulaire.Date_naissance, {'attr': {'class':'Form_input Form_input-xs InputData',
                        'data-type':'birthdate', 'name':'firstname', 'type':'text', 'placeholder': '01/01/1990'
                        }}) }}
                        {{ form_errors(formulaire.Date_naissance) }} -->
                </div>
                <!-- Adresse -->
                <div class="Form_case">
                    <label for="address" class="Form_label">Adresse<sup>*</sup></label>
                    <input type="text" name="address" class="Form_input InputData" data-type="length">
                </div>
                <div class="Form_line Form_line-between">
                    <!-- Ville -->
                    <div class="Form_case Form_case-50">
                        <label for="city" class="Form_label">Ville<sup>*</sup></label>
                        <input type="text" name="city" class="Form_input InputData" data-type="length">
                    </div>
                    <!-- Prenom -->
                    <div class="Form_case Form_case-50">
                        <label for="postalcode" class="Form_label">Code Postal<sup>*</sup></label>
                        <input type="text" name="postalcode" class="Form_input InputData" data-type="length">
                    </div>
                </div>
                <div class="Form_line Form_line-between">
                    <!-- Telephone -->
                    <div class="Form_case Form_case-50">
                        <label for="phone" class="Form_label">Téléphone<sup>*</sup></label>
                        <!-- <input type="text" name="phone" class="Form_input InputData" data-type="phone"> -->
                        {{ form_widget(formulaire.telephone, {'attr': {'class':'Form_input InputData',
                        'data-type':'phone', 'name':'phone', 'type':'text'
                        }}) }}
                        {{ form_errors(formulaire.telephone) }}
                    </div>
                    <!-- Prenom -->
                    <div class="Form_case Form_case-50">
                        <label for="email" class="Form_label">Email<sup>*</sup></label>
                        <input type="text" name="email" class="Form_input InputData" data-type="mail">
                        <!-- {{ form_widget(formulaire.Email, {'attr': {'class':'Form_input InputData',
                        'data-type':'phone', 'name':'phone', 'type':'text'
                        }}) }}
                        {{ form_errors(formulaire.Email) }} -->
                    </div>
                </div>
                
                <!-- Ajouter participant -->
                <div class="Form_case">
                    <div class="Form_line Form_addParticipant">
                        <div class="button Form_button ">Ajouter un participant</div>
                        <div class="Form_add Form_add-white Form_add-participant">+</div>
                    </div>
                </div>

                <div class="Form_case Form_newParticipant">
                        <div class="Form_line Form_line-between">
                                <!-- Nom -->
                                <div class="Form_case Form_case-50">
                                    <label for="lastname" class="Form_label">Nom<sup>*</sup></label>
                                    <input type="text" name="lastnameOther" class="Form_input" data-type="length">
                                </div>
                                <!-- Prenom -->
                                <div class="Form_case Form_case-50">
                                    <label for="firstname" class="Form_label">Prénom<sup>*</sup></label>
                                    <input type="text" name="firstnameOther" class="Form_input" data-type="length">
                                </div>
                            </div>
                            <!-- Date de naissance -->
                            <div class="Form_case">
                                <label for="birthdate" class="Form_label">Date de naissance<sup>*</sup></label>
                                <input type="text" name="birthdateOther" class="Form_input Form_input-xs" data-type="birthdate">
                            </div>
                            <!-- Adresse -->
                            <div class="Form_case">
                                <label for="address" class="Form_label">Adresse<sup>*</sup></label>
                                <input type="text" name="addressOther" class="Form_input" data-type="length">
                            </div>
                            <div class="Form_line Form_line-between">
                                <!-- Ville -->
                                <div class="Form_case Form_case-50">
                                    <label for="city" class="Form_label">Ville<sup>*</sup></label>
                                    <input type="text" name="cityOther" class="Form_input" data-type="length">
                                </div>
                                <!-- Prenom -->
                                <div class="Form_case Form_case-50">
                                    <label for="postalcode" class="Form_label">Code Postal<sup>*</sup></label>
                                    <input type="text" name="postalcodeOther" class="Form_input" data-type="length">
                                </div>
                            </div>
                            <div class="Form_line Form_line-between">
                                <!-- Ville -->
                                <div class="Form_case Form_case-50">
                                    <label for="phone" class="Form_label">Téléphone<sup>*</sup></label>
                                    <input type="text" name="phoneOther" class="Form_input" data-type="phone">
                                </div>
                                <!-- Prenom -->
                                <div class="Form_case Form_case-50">
                                    <label for="email" class="Form_label">Email<sup>*</sup></label>
                                    <input type="text" name="emailOther" class="Form_input" data-type="mail">
                                </div>
                            </div>
                </div>

                <div class="Form_confirm">
                    <input type=checkbox name="reglement" class="InputData" data-type="checkbox"/>
                    J’ai pris connaissance de l’intégralité des informations du <a href="">règlement-jeu</a>
                </div>
            </div>

        
            <div class="Form_buttons">
                <div class="button Form_previous">Étape Précedente</div>
                <div class="Form_next button">Étape suivante</div>
                <!-- <button  class="Form_submit button" type="submit">Finaliser mon inscription</button> -->
                
            </div>

            <div class="Form_error">LES CHAMPS MARQUÉS EN ROUGE SONT ÉRRONÉS OU incomplets.</div>
            <div class="Form_required">* champ obligatoire</div>
            
            
            {{ form_widget(formulaire.enregistrer, {'attr': {'class':'Form_submit button',}} )}}
            <!-- {{ form_widget(formulaire.enregistrer )}} -->
            
        {{ form_end(formulaire) }}
    </div>
    
    <div class="Form_overlay"></div>
    <div class="Form_modal">
            <div class="Form_modal_txt">
                Êtes-vous certain de vouloir soumettre ce projet ?
            </div>
            <div class="Form_buttons">
                <div class="button Form_retour retour">Retour</div>
                <div class="button Form_submission">Oui</div>
            </div>
        </div>
</div>
    <div class="ml">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit tincidunt turpis, nec viverra magna tempus faucibus. Phasellus in euismod est, a malesuada ex. Cras faucibus ante vel sollicitudin pulvinar. Mauris id lacus quis quam scelerisque aliquet et non nunc. Integer a sem tempus, porta augue id, porttitor turpis. Curabitur sed neque sollicitudin nibh aliquam dignissim ac in est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit tincidunt turpis, nec viverra magna tempus faucibus. Phasellus in euismod est, a malesuada ex. Cras faucibus ante vel sollicitudin pulvinar. Mauris id lacus quis quam scelerisque aliquet et non nunc. Integer a sem tempus, porta augue id, porttitor turpis. Curabitur sed neque sollicitudin nibh aliquam dignissim ac in est.
    </div>
{% endblock %}