{% extends "FormBundle::layout.html.twig" %}
{% block content %}
    <!-- HEADER -->
    <div class="Header">
        <div class="Header_background">
            <video class="Header_background_video" src="" autoplay muted loop></video>
        </div>
            <div class="Header_title">
                <div>Mission</div><div class="Logo_planetplus"></div>
            </div>
            <div class="Header_subtitle">
                <p>DEVENEZ NOTRE <span>WEB REPORTER !</span></p>
                <p>Votre voyage, vos rencontres, <span>votre regarde ...</span></p>
            </div>
            <div class="Header_informations">
                <p>Participez du</p>
                <div class="Header_informations_date">06 octobre au</div>
                <div class="Header_informations_date">06 novembre <span>2018</span></div>
            </div>
    </div>

    <div class="content_wrapper">  
    <!-- INTRO -->
    <div class="Intro">
        <div class="Intro_wrapper">
            <div class="Intro_case-big Intro_case0">
                <div class="Intro_slider">
                    <div class="background">
                        <div class="background-element background-element_0"></div>
                        <div class="background-element background-element_1"></div>
                        <div class="background-element background-element_2"></div>
                        <div class="background-element background-element_3"></div>
                    </div>
                    <div class="foreground">
                        <div class="foreground-element foreground-element_0"></div>
                        <div class="foreground-element foreground-element_1"></div>
                        <div class="foreground-element foreground-element_2"></div>
                        <div class="foreground-element foreground-element_3"></div>
                    </div>
                    <div class="title">
                        <div class="bar"></div>
                        <div class="txt">
                            histoire
                        </div>
                    </div>
                </div>
            </div>
            <div class="Intro_case-small Intro_case1">
                <div class="Intro_title">
                    <span>Planète+</span>
                    <span>recrute son</span>
                    <span>web reporter</span>
                </div>
                <div class="Intro_subtitle">
                    <span>et vous fait remporter</span>
                    <span class="red">30 000 euros pour explorer </span>
                    <span class="red">le monde à votre façon !</span>
                </div>
                <div class="Intro_share">
                    <div class="Intro_share_title">Partager :</div>
                    <div class="Intro_share_links">
                        <a target="_blanks" href="https://twitter.com/intent/tweet?text=Devenez%20le%20web%20reporter%20de%20Plan%C3%A8te%2B%20et%20remportez%2030%20000%20%E2%82%AC%20pour%20faire%20le%20reportage%20documentaire%20de%20vos%20r%C3%AAves%20!%20http%3A//planeteplus30ans.mycanal.fr%20" class="tw"></a>
                        <a target="_blanks" href="https://www.facebook.com/sharer/sharer.php?u=planeteplus30ans.mycanal.fr" class="fb"></a>
                    </div>
                </div>
            </div>
            <div class="Intro_case-small Intro_case2">
                <div class="Logo_planetplus Logo_planetplus-red"></div>
                <p class="Intro_content">
                    <span class="bolder">A l'occasion des 30 ans de planète+,</span>
                    nous lançons un appel à projet pour recruter <span class="bolder">notre nouvelle voix sur les réseaux sociaux de Planète+</span>,
                     cette voix devra incarner les valeurs de la chaîne Planète+ à savoir la bienveillance, la citoyenneté et l’évasion, tout en s’appuyant sur l’un ou plusieurs des piliers de la chaîne que sont <span class="highlight">La société</span>, <span class="highlight">l’histoire</span>, <span class="highlight">la science</span> et <span class="highlight">l’évasion</span>.
                </p>
                <div class="button Intro_button goToForm"><div class="button_txt">Je participe !</div></div>
            </div>

        </div>
    </div>

    <!-- PROJECT - Part 2-->
    <div class="Project">
        <div class="Project_background">
        </div>
        <div class="Project_wrapper">
            <div class="Project_content">
                <div class="left">
                    <div class="Project_background-left"></div>
                    <div class="Project_title">
                        <span class="red">Proposez-nous</span>
                        <span class="red">le projet de</span>
                        <span>voyage de</span>
                        <span>vos rêves !</span>
                    </div>
                    <div class="button Project_button goToForm"><div class="button_txt">Je participe !</div></div>
                </div>
                <div class="right">
                    <p class="Project_highlight">Votre projet devra s’articuler autour d’une <span class="red">thématique</span><br> <span class="red">spécifique</span> ou d’un <span class="red">angle de réalisation précis</span>.</p>
                    <p class="Project_txt">
                        Le candidat qui sera sélectionné disposera de <span class="red">30 000 euros</span> pour organiser l’ensemble de son projet de voyage documentaire, et en retour il produira régulièrement des contenus, dont des contenus vidéos, pour Planète+ et ses réseaux sociaux.
                    </p><p class="Project_txt">
                        Sur l’ensemble des dossiers reçus, <span class="red">30 seront présélectionnés par les équipes de Planète+</span>.
                        Parmi cette présélection, 10 candidats seront contactés pour rencontrer sur Paris, dans les locaux de Canal+, notre jury de professionnel dont feront partie <span class="red">Christine Cauquelin</span>, la directrice des documentaires de Planète + et des Documentaires de Canal+, les incarnations de Planète+ dont <span class="red">Benjamin Carles</span> (Made in France, Sandwich) <span class="red">Marine et Louis</span> (nom programme) et <span class="red">Jérôme Delafosse</span> (Energy Observer, Les Nouveaux Explorateurs).
                    </p>
                </div>
            </div>
            <div class="Project_video">
                <iframe w src="https://www.youtube.com/embed/?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- PRIZE -->

    <div class="Prize">
        <div class="Prize_wrapper">
            <div class="Prize_left"></div>
            <div class="Prize_right">
                <div class="Prize_title">
                    <span>Le Prix du</span>
                    <span>public :</span>
                    <span class="red">un Fujifilm !</span>
                </div>
                <div class="Prize_txt">
                        En parallèle votre candidature vous inscrira également au
                        <span class="red">vote du public.</span> Planète+ publiera une sélection de photos des candidats sur son compte Instagram et celle qui aura recueilli le plus de likes permettra à son propriétaire de <span class="red">remporter un appareil Fujifilm d’une valeur de ...</span> et remportera ainsi le deuxième prix de ce concours.
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile -->
    <div class="NotAvailable">
        <div class="txt">
            Pour tenter de réaliser
            le projet documentaire de vos rêves et remporter<br>
        <span class="red">30 000 euros</span>,<br>rendez-vous sur la version desktop du site !
        </div>
        <div class="img"></div>
    </div>
    <!-- Form -->
    <div class="Form">
        <div class="Form_header">
            Pour tenter de réaliser le projet documentaire de vos rêves et remporter <span class="red">30 000 euros</span>, remplissez le formulaire détaillé ci-dessous.
        </div>
        <!-- <div class="Form_timeline">
            <div class="Form_pagination Form_pagination-activ">01</div>
            <div class="Form_pagination">02</div>
            <div class="Form_pagination">03</div>
            <div class="Form_pagination">04</div>
        </div> -->

<div class="container mx-auto" >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for message in app.session.flashbag.get('success') %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
    <div class="row ">
        <div class="col-md-8 col-md-offset-2" >
       <h1>S'inscrire</h1>     
    {{ form_start(formulaire) }}
    <div class="form-groupe">
        <label for="lastname" class="Form_label">Nom<sup>*</sup></label>
         <!-- <input type="text" name="lastname" class="Form_input InputData" data-type="length"> -->
         {{ form_widget(formulaire.Nom, {'attr': {"class": 'form-control'}} )}}
         {{ form_errors(formulaire.Nom) }}
    </div>
    <div class="form-groupe">
        <!-- Prenom -->
              <label for="firstname" class="Form_label">Prénom<sup>*</sup></label>
             <!-- <input type="text" name="firstname" class="Form_input InputData" data-type="length"> -->
             {{ form_widget(formulaire.Prenom, {'attr': {"class": 'form-control'}} ) }}
             {{ form_errors(formulaire.Prenom) }}
    </div>

    <div class="form-groupe">
        <label for="date">date naissance</label>
          {{ form_widget(formulaire.Date_naissance, {'attr': {"type":'date',
            'id':'exemple-date-input'
        }}) }}
              {{ form_errors(formulaire.Date_naissance) }}
    </div>
    <div class="form-groupe">
        <label for="phone" class="Form_label">Téléphone<sup>*</sup></label>
        <!-- <input type="text" name="phone" class="Form_input InputData" data-type="phone"> -->
        {{ form_widget(formulaire.telephone , {'attr': {"class": 'form-control'}}) }}
        {{ form_errors(formulaire.telephone) }}
    </div>    

      
    <div class="form-groupe">
      <!-- <input type="text" name="email" class="Form_input InputData" data-type="mail"> -->
      <label for="email">email</label>
      {{ form_widget(formulaire.Email, {'attr': {"class": 'form-control'}} ) }}
      {{ form_errors(formulaire.Email) }}
      
    </div>


    <div class="form-groupe">

        <label for="theme" class="Form_label">Quel sera le thème de votre voyage ?<sup>*</sup></label>
        <!-- <input type="text" name="theme" class="Form_input InputData" data-type="length" required/> -->
        {{ form_widget(formulaire.Voyage_theme, {'attr': {"class": 'form-control'}}) }}
        {{ form_errors(formulaire.Voyage_theme) }}
    </div>

    <div class="form-group">
        <label for="theme" class="Form_label">Budget(fichier excel) ?<sup>*</sup></label>
        {{ form_widget(formulaire.documents.budgetExcel, {'attr': {"class": 'form-control'}}) }}
        {{ form_errors(formulaire.documents.budgetExcel) }}

    </div>
    <div class="form-group">
        <label for="theme" class="Form_label">Vos motivation (fichier docx) ?<sup>*</sup></label>
        {{ form_widget(formulaire.documents.motivationsDocx, {'attr': {"class": 'form-control'}}) }}
        {{ form_errors(formulaire.documents.motivationsDocx) }}
    </div>
    <div class="form-group">
        <label for="theme" class="Form_label">Lien de votre image instagram ?<sup>*</sup></label>
        {{ form_widget(formulaire.documents.instagramUrl, {'attr': {"class": 'form-control'}}) }}
    </div>


      {{ form_widget(formulaire.enregistrer, {'attr':{"class":"btn btn-primary mt-4"}} )}}

    {{ form_end(formulaire) }}

       </div>
    </div>
</div>

{% endblock %}